<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>FunFoods</display-name>
  <servlet>
    <description>Servlet for user signup</description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for handling orders</description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for updating orders</description>
    <display-name>UpdateOrderServlet</display-name>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <servlet-class>UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <url-pattern>/UpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet for adding food items</description>
    <display-name>AddFoodServlet</display-name>
    <servlet-name>AddFoodServlet</servlet-name>
    <servlet-class>AddFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoodServlet</servlet-name>
    <url-pattern>/AddFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillingServlet</display-name>
    <servlet-name>BillingServlet</servlet-name>
    <servlet-class>BillingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillingServlet</servlet-name>
    <url-pattern>/BillingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrderServlet</display-name>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/PlaceOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCartItemServlet</display-name>
    <servlet-name>RemoveCartItemServlet</servlet-name>
    <servlet-class>RemoveCartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCartItemServlet</servlet-name>
    <url-pattern>/RemoveCartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
</web-app>